@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body {
    margin:0;
    padding: 0;
    padding-top: 50px;
    font-family: 'Roboto', sans-serif;
    background-image: url("/images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    width:100%;
    display: flex;
    justify-content: center;
}
#page-container {
    background-color: #ffffff37;
}

#page-container, #movie-list__container {
    width: 500px;
    height: auto;
    text-align: center;
}

#search-results, #movie-list-results {
    list-style: none;
    padding-left: 0;
}

#movie-list-results, #search-results {
    color: rgb(245, 238, 238);

}

.css-input {
    width: 250px;
    padding: 5px;
    font-size: 16px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 0px;
    box-shadow: -50px 0px 0px rgba(66,66,66,.0);
    text-shadow: -50px 0px 0px rgba(66,66,66,.0);
}
 .css-input:focus {
     outline:none;
}

#page-container__title, #movie-list__title{
    color: rgb(150, 152, 154);
}


#videoInput{
    margin-left: 110px;
}

.video-btn {
    width: 60px;
    margin-top: 10px;
    background-color:black;
    border-radius:24px;
    border:black;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:16px;
    padding:8px 23px;
    text-decoration:none;
    text-align: center;
}
.video-btn:hover {
    background-color:#1C1C1C;
}
.video-btn:active {
    position:relative;
    top:1px;
}

.alert{
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 5px;
}

.fail{
    color: #f30404db;
}

.success{
    color: #35d04c;
}

.alert, #page-container__title, 
#movie-list__title, #movie-list-results,#search-results {
    text-shadow: 2px 2px black;
    line-height:2em;
}


